services:
  website:
    image: ghcr.io/linus-f/website-dpsg-wehr:latest
    container_name: website-dpsg-wehr
    restart: unless-stopped
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"

      # HTTPS Router (Global redirect handles HTTP -> HTTPS)
      - "traefik.http.routers.dpsg-website-secure.entrypoints=https"
      - "traefik.http.routers.dpsg-website-secure.rule=Host(`www.dpsg-wehr.de`) || Host(`dpsg-wehr.de`)"
      - "traefik.http.routers.dpsg-website-secure.tls=true"
      - "traefik.http.routers.dpsg-website-secure.tls.certresolver=le_http"

      # Service Port
      - "traefik.http.services.dpsg-website.loadbalancer.server.port=80"

networks:
  proxy:
    external: true