name: dpsg-wehr

services:
    website:
        build:
            context: .
            dockerfile: Dockerfile
            args:
                - NEXT_PUBLIC_TINA_CLIENT_ID=${NEXT_PUBLIC_TINA_CLIENT_ID}
                - TINA_TOKEN=${TINA_TOKEN}
                - NEXT_PUBLIC_GITHUB_TOKEN=${NEXT_PUBLIC_GITHUB_TOKEN}
                - NEXT_PUBLIC_REPO_OWNER=${NEXT_PUBLIC_REPO_OWNER}
                - NEXT_PUBLIC_REPO_NAME=${NEXT_PUBLIC_REPO_NAME}
                - NEXT_PUBLIC_REPO_BRANCH=${NEXT_PUBLIC_REPO_BRANCH}
                - INTERNAL_ICS_TOKEN=${INTERNAL_ICS_TOKEN}
        restart: unless-stopped
        deploy:
            mode: replicated
            replicas: 2
            update_config:
                order: start-first
                failure_action: rollback
                delay: 5s
        networks:
            - proxy
        healthcheck:
            test: ['CMD-SHELL', 'curl -f http://127.0.0.1/ || exit 1']
            interval: 30s
            timeout: 10s
            retries: 3
            start_period: 5s
        labels:
            - 'traefik.enable=true'
            - 'traefik.docker.network=proxy'
            # HTTPS Router
            - 'traefik.http.routers.dpsg-website-secure.entrypoints=https'
            - 'traefik.http.routers.dpsg-website-secure.rule=Host(`www.dpsg-wehr.de`) || Host(`dpsg-wehr.de`)'
            - 'traefik.http.routers.dpsg-website-secure.tls=true'
            - 'traefik.http.routers.dpsg-website-secure.tls.certresolver=le_http'
            # Service Port
            - 'traefik.http.services.dpsg-website.loadbalancer.server.port=80'

    webhook:
        build:
            context: .
            dockerfile: scripts/Dockerfile.webhook
        container_name: webhook
        command: -hooks=/etc/webhook/hooks.json -verbose
        volumes:
            - ./scripts/hooks.json:/etc/webhook/hooks.json
            - ./scripts/vps-deploy.sh:/var/scripts/vps-deploy.sh
            - /var/run/docker.sock:/var/run/docker.sock
            - .:/app
        ports:
            - '9000:9000'
        restart: unless-stopped

networks:
    proxy:
        external: true
