@import "tailwindcss";

@source "../tailwind.config.js";
@plugin "@tailwindcss/typography";

@variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-xs: 360px;
  --breakpoint-s: 560px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --animate-unblur: unblur 0.3s ease-in-out;
  @keyframes unblur {
    from { filter: blur(5px); }
    to { filter: blur(0px); }
  }
}

@layer base {
    body {
        @apply bg-gray-100 dark:bg-gray-700;
        @apply text-black dark:text-white;
    }
}


@layer components {
    /* .my-react-select-container {
    } */
    .my-react-select-container {
        @apply flex-1;
    }

    .my-react-select-container .my-react-select__control {
      @apply bg-gray-200 dark:bg-gray-600 border-none;
    }
  
    .my-react-select-container .my-react-select__control--is-focused {
      @apply border-gray-500 hover:border-gray-500 dark:border-gray-400 dark:hover:border-gray-400 shadow-none;
    }
  
    .my-react-select-container .my-react-select__menu {
      @apply bg-gray-100 dark:bg-gray-700 border border-gray-300 dark:border-gray-600;
    }
  
    .my-react-select-container .my-react-select__option {
      @apply text-gray-600 dark:text-gray-200 bg-gray-100 hover:bg-gray-200 dark:bg-gray-700 dark:hover:bg-gray-800;
    }
    /* .my-react-select-container .my-react-select__option--is-focused {
      @apply bg-neutral-200 dark:bg-neutral-800;
    } */

    .my-react-select-container .my-react-select__menu-list {
        @apply p-0 m-0;
    }
  
    .my-react-select-container .my-react-select__indicator-separator {
      @apply bg-gray-400;
    }
  
    .my-react-select-container .my-react-select__input-container,
    .my-react-select-container .my-react-select__placeholder,
    .my-react-select-container .my-react-select__single-value {
      @apply text-gray-600 dark:text-gray-200;
    }

     /* Multi-value container and labels */
  .my-react-select-container .my-react-select__multi-value {
    @apply bg-blue-500 rounded-md;
  }

  .my-react-select-container .my-react-select__multi-value__label {
    @apply text-gray-100;
  }

  /* Multi-value remove button and SVG */
  .my-react-select-container .my-react-select__multi-value__remove {
    @apply hover:bg-blue-500 hover:rounded-md;
  }

  .my-react-select-container .my-react-select__multi-value__remove .css-tj5bde-Svg {
    @apply text-gray-300 dark:text-gray-300 hover:text-red-500 dark:hover:text-red-500;
  }

  /* Clear and dropdown indicator */
  .my-react-select-container .my-react-select__clear-indicator,
  .my-react-select-container .my-react-select__dropdown-indicator {
    @apply text-gray-400 dark:text-gray-500;
  }

  .my-react-select-container .my-react-select__clear-indicator:hover {
    @apply text-red-500;
  }

  .my-react-select-container .my-react-select__dropdown-indicator:hover {
    @apply text-gray-500 dark:text-gray-400;
  }

  .my-react-select-container .my-react-select__clear-indicator .css-tj5bde-Svg,
  .my-react-select-container .my-react-select__dropdown-indicator .css-tj5bde-Svg {
    @apply fill-current;
  }

  :root {
    --fc-neutral-bg-color: rgb(243, 244, 246);
    --burger-color: rgb(0, 0, 0);

    /* mantine colors aren't available after running export for some reason */
    --mantine-color-blue-light: rgba(34, 139, 230, .15);
    --mantine-color-blue-light-color: #74c0fc;
  }

  .dark {
    --fc-border-color: rgb(75, 85, 99);
    --fc-neutral-bg-color: rgb(31 41 55);
    --fc-list-event-hover-bg-color: rgb(107 114 128);

    --fc-button-bg-color: rgb(12, 74, 110);
    --fc-button-hover-bg-color: rgb(7, 89, 133);
    --fc-button-hover-border-color: rgb(7, 89, 133);
    --fc-button-active-bg-color: rgb(2, 132, 199);
    --fc-button-border-color: rgb(12, 74, 110);
    --fc-button-active-border-color: rgb(2, 132, 199);

    --fc-neutral-bg-color: rgb(75, 85, 99);
    --fc-neutral-text-color: rgb(255 255 255 / 80%);

    /* mantine colors aren't available after running export for some reason */
    --burger-color: rgb(255, 255, 255);
  }

  .dark .fc-theme-standard .fc-list-day-cushion {
    background-color: rgb(31, 41, 55);
  }
}

/* Removes default mantine menu item hover effect */
button.mantine-Menu-item {
    background-color: transparent !important;
}

.img-blur {
    filter: blur(5px);
}

.unblur {
    animation: unblur 0.5s linear;
}

@keyframes unblur {
    from {
        filter: blur(5px);
    }
    to {
        filter: blur(0px);
    }
}

.event-title {
  padding: 0 1px;
  white-space: normal;
  word-break: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

.fc .fc-list-sticky .fc-list-day > * { 
    z-index: 1;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: var(--fc-page-bg-color,#fff);
}


  .fc .fc-button-primary:not(:disabled).fc-button-active:focus, .fc .fc-button-primary:not(:disabled):active:focus {
    box-shadow: none !important;
  }

  .fc .fc-button-primary:focus {
    box-shadow: none !important;
  }

  .fc .fc-button:focus {
    box-shadow: none !important;
    outline: 0px;
  }

  