@import "tailwindcss";

@source "../tailwind.config.js";
@plugin "@tailwindcss/typography";

@variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-xs: 360px;
  --breakpoint-s: 560px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --animate-unblur: unblur 0.3s ease-in-out;
  @keyframes unblur {
    from { filter: blur(5px); }
    to { filter: blur(0px); }
  }
}

@layer base {
    body {
        @apply bg-gray-100 dark:bg-gray-700;
        @apply text-black dark:text-white;
    }
}

.img-blur {
    filter: blur(5px);
}

.unblur {
    animation: unblur 0.5s linear;
}

@keyframes unblur {
    from {
        filter: blur(5px);
    }
    to {
        filter: blur(0px);
    }
}