@import 'tailwindcss';

@source "../tailwind.config.js";
@plugin "@tailwindcss/typography";

@variant dark (&:where(.dark, .dark *));

@theme {
    --breakpoint-xs: 360px;
    --breakpoint-s: 560px;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;

    --animate-unblur: unblur 0.3s ease-in-out;
    @keyframes unblur {
        from {
            filter: blur(5px);
        }
        to {
            filter: blur(0px);
        }
    }
}

@layer base {
    html {
        @apply bg-gray-100 dark:bg-gray-700;
    }
    body {
        @apply text-black dark:text-white;
    }
}

.landing-content h1 {
    @apply text-4xl font-bold mb-6 text-center;
}

.landing-content h2 {
    @apply text-3xl font-bold mt-12 mb-6;
}

.landing-content p {
    @apply text-lg mb-4 leading-relaxed;
}

.landing-content {
    @apply max-w-none;
}

.img-blur {
    filter: blur(5px);
}

.unblur {
    animation: unblur 0.5s linear;
}

@keyframes unblur {
    from {
        filter: blur(5px);
    }
    to {
        filter: blur(0px);
    }
}
