@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-gray-100 dark:bg-gray-700;
        @apply text-black dark:text-white;
    }
}

/* Removes default mantine menu item hover effect */
button.mantine-Menu-item {
    background-color: transparent !important;
}

.img-blur {
    filter: blur(5px);
}

.unblur {
    animation: unblur 0.5s linear;
}

@keyframes unblur {
    from {
        filter: blur(5px);
    }
    to {
        filter: blur(0px);
    }
}