@reference "../app/globals.css";

:root {
    --fc-neutral-bg-color: rgb(243, 244, 246);
}

.dark {
    --fc-border-color: rgb(75, 85, 99);
    --fc-neutral-bg-color: rgb(31 41 55);
    --fc-list-event-hover-bg-color: rgb(107 114 128);

    --fc-button-bg-color: rgb(12, 74, 110);
    --fc-button-hover-bg-color: rgb(7, 89, 133);
    --fc-button-hover-border-color: rgb(7, 89, 133);
    --fc-button-active-bg-color: rgb(2, 132, 199);
    --fc-button-border-color: rgb(12, 74, 110);
    --fc-button-active-border-color: rgb(2, 132, 199);

    --fc-neutral-bg-color: rgb(75, 85, 99);
    --fc-neutral-text-color: rgb(255 255 255 / 80%);
}

.dark .fc-theme-standard .fc-list-day-cushion {
    background-color: rgb(31, 41, 55);
}

.event-title {
    padding: 0 1px;
    white-space: normal;
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
}

.fc .fc-list-sticky .fc-list-day > * {
    z-index: 1;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: var(--fc-page-bg-color, #fff);
}

.fc .fc-button-primary:not(:disabled).fc-button-active:focus,
.fc .fc-button-primary:not(:disabled):active:focus {
    box-shadow: none !important;
}

.fc .fc-button-primary:focus {
    box-shadow: none !important;
}

.fc .fc-button:focus {
    box-shadow: none !important;
    outline: 0px;
}
