[
  {
    "id": "redeploy-website",
    "execute-command": "/var/scripts/vps-deploy.sh",
    "command-working-directory": "/app",
    "response-message": "Deployment triggered...",
    "pass-arguments-to-command": [
      {
        "source": "payload",
        "name": "ref"
      }
    ],
    "trigger-rule": {
      "match": {
        "type": "value",
        "value": "your-secret-token-here",
        "parameter": {
          "source": "url",
          "name": "token"
        }
      }
    }
  },
  {
    "id": "redeploy-website-dev",
    "execute-command": "/var/scripts/vps-deploy.sh",
    "command-working-directory": "/app",
    "response-message": "Dev deployment triggered...",
    "pass-arguments-to-command": [
      {
        "source": "string",
        "name": "dev"
      }
    ],
    "trigger-rule": {
      "match": {
        "type": "value",
        "value": "your-secret-token-here",
        "parameter": {
          "source": "url",
          "name": "token"
        }
      }
    }
  }
]